* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home,
.services,
.about,
.contact-us,
.sign-up
 {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.home {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: black;
  font-size: 100px;
}

.buy-sell {
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: black;
  font-size: 100px;
}

.about {
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: black;
  font-size: 100px;
}

.contact-us {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: black;
  font-size: 100px;
}

.sign-up {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color:black;
  font-size: 100px;
}
