.about__container {
    display:grid;
    grid-template-columns: repeat(3, 1 fr);
    gap: 2.5rem;
}

.about__item{
    background: var(--colour-bg-varient);
    padding: 1.2rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}
about__item-image {
    border-radius: 1.5rem;
    overflow: hidden;
  }
  
  .about__item h3 {
    margin: 1.2rem 0 2rem;
  }
  
  .about__item-cta {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
  }

  .btn {
    border: 1px solid var(#009B77);
    border-radius: 0.4rem;
    color: black;
    cursor: pointer;
    display: inline-block;
    padding: .075rem 1.2rem;
    transition: var(--transition);
    width: max-content;
  }
  /* ================ MEDIA QUERIES (MEDIUM DEVICES) ================= */
@media screen and (max-width: 1024px) {
    .about__container {
      grid-template-columns: 1fr 1fr;
      gap: 1.2rem;
    }
  }
  
  /* ================ MEDIA QUERIES (SMALL DEVICES) ================= */
  @media screen and (max-width: 600px) {
    .about__container {
      grid-template-columns: 1fr;
      gap: 1rem;
    }
  }