:root {
  -transition: all 400ms ease;

  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
}
h3 {
  font-weight: 500;
  font-size: 20px;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none; 
}



h2{
  text-align: center;
  border: 100;
}

.about__container {
    display: block;
    grid-template-columns: repeat(3, 1 fr);
    gap: 2.5rem;
    width: var(--container-width-lg);
    justify-content: space-around;
}

.about__item{
    background: var(--colour-bg-varient);
    padding: 1.2rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
    box-sizing: border-box;
    column-width: 500px;
    margin: 20px;
}
.about__item-image {
    border-radius: 1.5rem;
    overflow: hidden;
  }
  
  .about__item h3 {
    margin: 1.2rem 0 2rem;
  }
  
  .about__item-cta {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
  }

  .btn {

    background-color: var(#009B77);

  }
  /* ================ MEDIA QUERIES (MEDIUM DEVICES) ================= */
@media screen and (max-width: 1024px) {
    .about__container {
     display:block;
    }
  }
  
  /* ================ MEDIA QUERIES (SMALL DEVICES) ================= */
  @media screen and (max-width: 600px) {
    .about__container {
      grid-template-columns: 1fr;
      gap: 1rem;
    }
  }

  @media screen and (max-width: 1024px) {
    .container {
      width: var(--container-width-md);
    }
  
    section {
      margin-top: 6rem;
    }
  }
  
  /* ================ MEDIA QUERIES (SMALL DEVICES) ================= */
  @media screen and (max-width: 600px) {
    .container {
      width: var(--container-width-sm);
    }
  
    section > h2 {
      margin-bottom: 2rem;
    }
  }