.card-container{
    width: 300px;
    overflow: hidden;
    box-shadow: 0px 0px 15px 5px;
}

.card-container:hover{
    transform: scale(1,1);
    box-shadow: 0px 0px 15px 0px;
}

.image-container img{
    overflow: hidden;
    height: 200px;
}